body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(18, 18, 70);
}

.site-header{
background-color: rgb(18, 18, 70);
color: rgb(247, 118, 189);
padding: 10px 20px;
display: flex;
align-items: center;
box-shadow: 8px 15px 10px rgba(225, 187, 225, 0.616);
position: sticky;
top: 0;
width: 100%;
z-index: 200;
}

.logo{
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 210px;
}

.main-nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}


.main-nav ul li a{
    color:rgb(252, 198, 255) ;
    text-decoration: none;
    padding: 0 15px;
}

#actionButton{
    background-color: rgb(247, 118, 189);
    color: rgb(18, 18, 70);
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    gap: 2;
    justify-content: flex-start;
    display: flex;
    margin-left: 20px;
    border: 1.5px solid #ccc;
}

#actionButton:hover{
    background-color: rgb(252, 198, 255);
}

#actionButton-nav{
    border-radius: 100px;
    background-color: azure;
    cursor: pointer;
    border: none;
    padding: 10px 15px;
    gap: 2px;
    justify-content: flex-start;
    display: flex;
    margin-left: 100px;
    border: 1.8px solid #ff00d9;
}

#actionButton-nav:hover{
    background-color: rgb(252, 198, 255) ;
}

body{
    background-color: rgb(18, 18, 70);
}

h1{
    text-align: center;
    margin-bottom: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(149, 10, 91);
}

.controls{
    display: flex;
    margin-bottom: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.controls input, 
.controls select, 
.controls button{
    padding: 8px 10px;
    font-size: 14px;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
}

.card{
 background-color: rgba(219, 186, 206, 0.553);
 border-radius: 100px;
 padding: 10px;
 text-align: center;
 box-shadow: 0px 2px 8px rgba(255, 0, 153, 0.847);
}

.card:hover {
transform: scale(1.1);
}

.card img{ 
width: 100%;
border-radius:  100px;
margin-bottom: 20px;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.847);
}

.actions{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.actions button{
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

.message{
    text-align: center;
    grid-column: 1/-1;
}

button{
    border-radius: 10px;
    background-color: rgba(229, 141, 228, 0.847);
    padding: 10px 20px;
    font-size: 14px;
    box-shadow: 3px 3px 6px rgb(210, 180, 238);
    border-color: rgb(216, 194, 235);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/**/
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    background-color: rgb(247, 118, 189); 
    position: relative;
    overflow: hidden;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background-color: #9acd32;
    transform: skewX(-15deg);
    transform-origin: top left;
    z-index: -1;
}

.left-side, .right-side {
    padding: 20px;
}

.social-icons, .left-side, .right-side {
    z-index: 1;
}

.artist-image img {
    border-radius: 50%; 
    width: 300px;
    height: 300px;
    object-fit: cover;
    display: block;
    margin: 300px;
    box-shadow: 2px 10px 10px 5px #060959;
}

.social-icons {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.icon {
    margin: 10px 0;
    color: #fff;
    font-size: 24px;
}

.cta-button {
  background-color: #faaeef;
  border-radius: 50px;
  box-shadow: inset 4px 4px 10px #d6d5d5, inset -4px -4px 10px #ffffff;
  color: #a42b8e;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
  transition: all 0.2s ease-in-out;
  border: 2px solid #faaeef;
  line-height: 2.0; 
}


.neu-button:hover {
  box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}

.neu-button:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}

.subtitle{
    margin-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5; 
}

.description{
    margin-bottom: 10px;
    line-height: 2.0; 
    color: #000589;
}

.live-streaming{
    margin-bottom: 10px;
    line-height: 2.5; 
    color: #797979;
}

/*responsitividade*/

    @media (max-width: 1024px){
      h1{
        font-size: 70px;
      }

      .intro-container{
        flex-wrap: wrap;
        text-align: center;
      }

      .img-rnb-era img{
        width: 420px;
        height: 420px;
      }

      .texto-rnb{
        font-size: 16px;
      }

      .menu a{
        padding: 6px 10px;
        font-size: 14px;
      }

      .logo img{
        width: 80px;
        height: 80px;
      }
    }


    @media(max-width: 600px){
      body{
        background-attachment: scroll;
      }

      .nav{
        padding: 10px 16px;
      }

      .logo img{
        width: 65px;
        height: 65px;
      }

      .menu{
        gap: 10px;
      }

      .menu a{
        padding: 6px 8px;
        font-size: 12px;
      }

      h1{
        font-size: 55px;
        margin-top: 25px;
      }
      .intro-container{
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }

      .texto-rnb{
        font-size: 15px;
        padding: 18px;
      }
     
      .img-rnb-era img{
        width: 300px;
        height:  300px;
      }

      .music-grid{
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 14px;
      }

      .music-item figcaption{
        font-size: 13px;
        padding: 6px;
      }

      .modal{
        width: 90%;
        padding: 18px;
      }

      .modal input{
        padding: 8px;
        font-size: 14px;
      }
    }

    @media(max-width: 380px){
      h1{
        font-size: 45px;
      }

      .img-rnb-era img{
        width: 250px;
        height: 250px;
      }

      .music-grid{
        grid-template-columns: repeat(auto-fit, minmax(130px,1fr));
      }

      .menu a{
       font-size: 11px;
       padding: 4px 6px;
      }
    }