body {
      margin: 0;
      background: #000;
      color: white;
      font-family: "Poppins", sans-serif;
      background-image: url("https://i.pinimg.com/1200x/67/d6/7d/67d67dc5b7bdbf5acb66373735e497c5.jpg");
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
    }

    .overlay {
      background: rgba(0,0,0,0.55);
      min-height: 100vh;
      padding-bottom: 80px;
    }

    header {
      position: sticky;
      top: 0;
      z-index: 50;
      backdrop-filter: blur(8px);
      background: rgba(0, 0, 0, 0.75);
      border-bottom: 1px solid rgba(148,163,184,.15);
    }

    .nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1100px;
      margin: auto;
      padding: 12px 24px;
    }

    .logo img {
      width: 100px;
      height: 100px;
      object-fit: contain;
      border-radius: 100%;
    }

    .menu {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    .menu a {
      text-decoration: none;
      color: #e5e7eb;
      padding: 8px 12px;
      border-radius: 999px;
      border: 1px solid white;
      opacity: .9;
    }

    .menu a:hover {
      opacity: 1;
      border-color: rgba(255,255,255,0.6);
    }

    .add-btn {
      background: #1a121215;
      border: 1px solid white;
      color: white;
      padding: 8px 14px;
      border-radius: 50px;
      cursor: pointer;
      font-size: 14px;
      transition: .3s;
    }

    .add-btn:hover {
      background: white;
      color: #0b0f18;
    }

    h1 {
      text-align: center;
      font-size: 100px;
      margin-top: 40px;
      margin-bottom: 20px;
      font-family: "Pinyon Script", cursive;
    }

     .intro-container {
  max-width: 1150px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;  
  gap: 30px;
  padding: 20px;
}

    .texto-pop {
      flex: 1 1 42px;
      background: rgba(0,0,0,0.65);
      padding: 22px;
      border-radius: 14px;
      line-height: 1.6;
      border: 1px solid rgba(255,255,255,0.15);
    }

     .img-pop-era img{
        width: 500px;
        height: 500px;
        border-radius: 14px;
        border: 1px solid rgba(255,255,255,0.2);
        object-fit: cover;
     }

    .music-grid {
      max-width: 1150px;
      margin: 60px auto;
      padding: 0 20px;
      display: grid;
      gap: 22px;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .music-item {
      background: rgba(0,0,0,0.65);
      border: 1px solid rgba(255,255,255,0.2);
      border-radius: 14px;
      overflow: hidden;
      transition: .25s;
      text-decoration: none;
      color: white;
      cursor: pointer;
    }

    .music-item:hover {
      transform: scale(1.04);
      background: rgba(0,0,0,0.8);
    }

    .music-item img {
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }

    .music-item figcaption {
      text-align: center;
      padding: 10px;
      font-size: 15px;
    }

    /* janela de add msc */
    .modal-bg {
      display: none;
      position: fixed;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: rgba(0,0,0,0.6);
      backdrop-filter: blur(6px);
      justify-content: center;
      align-items: center;
      z-index: 999;
    }

    .modal {
      background: rgba(0,0,0,0.75);
      border: 1px solid rgba(255,255,255,0.2);
      border-radius: 16px;
      padding: 25px;
      width: 350px;
      animation: fadeIn 0.3s ease;
    }

    .modal h2 {
      text-align: center;
      margin-bottom: 15px;
      font-weight: 600;
    }

    .modal input {
      width: 100%;
      padding: 10px;
      margin-bottom: 12px;
      border-radius: 10px;
      border: 1px solid rgba(255,255,255,0.4);
      background: rgba(255,255,255,0.1);
      color: white;
    }

    .modal button {
      width: 100%;
      padding: 10px;
      background: white;
      color: black;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-weight: 600;
      transition: .2s;
    }

    .modal button:hover {
      background: #d8d8d8;
    }

    .close-btn {
      background: #ff4df6 !important;
      color: white !important;
      margin-top: 5px;
    }

    @keyframes fadeIn {
      from { opacity: 0; transform: scale(.8); }
      to { opacity: 1; transform: scale(1); }
    }

    /*responsitividade*/

    @media (max-width: 1024px){
      h1{
        font-size: 70px;
      }

      .intro-container{
        flex-wrap: wrap;
        text-align: center;
      }

      .img-rnb-era img{
        width: 420px;
        height: 420px;
      }

      .texto-rnb{
        font-size: 16px;
      }

      .menu a{
        padding: 6px 10px;
        font-size: 14px;
      }

      .logo img{
        width: 80px;
        height: 80px;
      }
    }


    @media(max-width: 600px){
      body{
        background-attachment: scroll;
      }

      .nav{
        padding: 10px 16px;
      }

      .logo img{
        width: 65px;
        height: 65px;
      }

      .menu{
        gap: 10px;
      }

      .menu a{
        padding: 6px 8px;
        font-size: 12px;
      }

      h1{
        font-size: 55px;
        margin-top: 25px;
      }
      .intro-container{
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }

      .texto-rnb{
        font-size: 15px;
        padding: 18px;
      }
     
      .img-rnb-era img{
        width: 300px;
        height:  300px;
      }

      .music-grid{
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 14px;
      }

      .music-item figcaption{
        font-size: 13px;
        padding: 6px;
      }

      .modal{
        width: 90%;
        padding: 18px;
      }

      .modal input{
        padding: 8px;
        font-size: 14px;
      }
    }

    @media(max-width: 380px){
      h1{
        font-size: 45px;
      }

      .img-rnb-era img{
        width: 250px;
        height: 250px;
      }

      .music-grid{
        grid-template-columns: repeat(auto-fit, minmax(130px,1fr));
      }

      .menu a{
       font-size: 11px;
       padding: 4px 6px;
      }
    }